[submodule "Frameworks/CocoaHTTPServer"]
	path = Frameworks/CocoaHTTPServer
	url = https://github.com/ase-lab/CocoaHTTPServerFramework.git
	ignore = dirty
[submodule "Frameworks/KSHTMLWriter"]
	path = Frameworks/KSHTMLWriter
	url = https://github.com/mralexgray/KSHTMLWriter.git
	ignore = dirty